* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error-div {
  width: 100%;
  background-color: aqua;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.error-div img {
  max-width: 500px;
  max-height: 300px;
  border-radius: 10px;
}

button {
width: 200px;
height: 50px;
border-radius: 10px ;
border: none;
display: none;
}