* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  width: 100%;
  background-color: aqua;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.gallery img {
  max-width: 500px;
  max-height: 300px;
  border-radius: 10px;
  transition: all 0.5s ease;
  object-fit: cover;
}

.gallery img:hover {
  transform: scale(1.1);
    filter: brightness(0.5);
}

button {
width: 200px;
height: 50px;
border-radius: 10px ;
border: none;
display: none;
}